@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/NewTheme _MainLayout_Sidebar.cshtml";
}
@model IEnumerable<MoencoPOS.Models.Productc>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>This is a secured page !</h1>
    <h2>Welcome @ViewBag.FullName !</h2>
    <br />
    
    <br />
    <h2>Home</h2>
</body>
</html>
